{
  "presets": [
    [ "@babel/preset-env", {
      "useBuiltIns": "usage",
      "corejs": "3.49"
    } ]
  ],
  "plugins": [
    [ "@babel/plugin-proposal-pipeline-operator", {
      "proposal": "fsharp",
      "topicToken": "^^"
    } ]
  ]
}